@import "tailwindcss";

@theme {
  --color-primary: #FF5722;
  --color-primary-hover: #E64A19;
  --color-secondary: #263238;
  --color-background: #f4f6f8;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  color: #333333;
}
